
.feedFilters, .feedCards, .feedSummary {
	margin-left: 1%;
	margin-top: 2%;
	margin-bottom: 1%;
}

.feedFilters {
	width: 95%;
	border-radius: 10px;
	margin: auto;
	margin-top: 1%;
	background: white !important;
}

.feedFilters .navbar-nav > li {
  padding-left:30px;
  padding-right:30px;
}

.feedFilters .form-inline {
	width: 60%;
}

.feedFilters .form-inline .form-control {
	width: 60%;
}

.feedFilters .nav-link {
	color: #4B565F !important;
	font-size: 16px;
}

.feedContent {
	padding-left: 2%;
}

.feedSummary {
	width: auto;
	border-radius: 10px;
	margin-right: 5%;
}

.feedCards {
	max-height: 700px;
	overflow: auto;
	margin-bottom: 1%;
}

.feedCards .card{
	margin-bottom: 3%;
}

.feed-abstract {
	margin-top: 3%;
}

.share-link {
	color: #888;
	font-size: 24px;
	float: right;
}

.date-selector {
	height: auto;
	width: auto;
	overflow: visible;
	text-align: center;
}

.feedSummary-title {
	margin: 5%;
	margin-top: 10%;
	font-size: 18px;
}

.feedSummary-types {
	margin-left: 5%;
}

.feedSummary-types ul{
	list-style: none;
}

.feedSummary-companyLogos ul li {
	display: inline;
	margin: 3%;
}



